In [1]:
import os
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import read_csv
from matplotlib import pyplot

In [2]:
bashCommand = "wget https://docs.google.com/spreadsheets/d/1nH8J5PViu8yRVMAY5q3ydS6Onqv5ZOh3tdeM5MP9YQo/export?format=csv -O ages.csv"
os.system(bashCommand)

0

In [3]:
path = 'ages.csv'
headers = ['Room','Variable 1','Variable 2']
df = pd.read_csv(path)

In [4]:
df = df.set_index('Room')

In [5]:
df.head()

,room1,room2,room3,room4,room5,room6,room7,room8,room9,room10
Room,,,,,,,,,,
Subject A,101,12,1,1,1,1,1,1,1,1
Subject B,2,2,67,2,-34,2,2,45,2,2
Subject C,3,3,3,23,55,3,567,3,3,3
Subject D,4,4,4,4,4,5,4,4,4,4
Subject E,5,5,5,5,5,5,5,5,5,5

In [6]:
ages = df.columns[0:10]

In [7]:
# plot
plt.plot(ages)

### More examples in: https://matplotlib.org/users/pyplot_tutorial.html

In [8]:
data = read_csv('ages.csv', sep=',')
data.plot(x = 1, y = 2)